.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
    background-color: pink;
}

.main .focus {
    width: 721px;
    height: 455px;
    background-color: slateblue;
}

.main .newsflash {
    width: 250px;
    height: 455px;
    background-color: skyblue;
}